allowedWritePaths=C:\Users\bhguntak\Downloads;C:/Users/bhguntak/Downloads;C:/Users/bhguntak/Downloads/inbound;
allowedReadPaths=C:\Users\bhguntak\Downloads;C:/Users/bhguntak/Downloads;C:/Users/bhguntak/Downloads/inbound;
allowedDeletePaths=C:\Users\bhguntak\Downloads;C:/Users/bhguntak/Downloads;C:/Users/bhguntak/Downloads/inbound;
